Options +MultiViews

ErrorDocument 404 /404.html

# Disable auto-adding slashes to directories without them, since this happens
# after mod_rewrite and exposes the rewritten internal URL, e.g. turning
# http://henrik.nyh.se/about into http://henrik.nyh.se/jekyll/about.
#
# See http://gist.github.com/97822 for the full setup.

DirectorySlash off
