---
layout: default
title: Page not found (Error 404)
---
#error

  =header page.title
  
  %p Though several brave pugs died in the attempt, <span id="pathname">the requested page</span> could not be found.

  -# http://googlewebmastercentral.blogspot.com/2008/08/make-your-404-pages-more-useful.html
  :javascript
    $('#pathname').text(location.pathname).css('fontWeight', 'bold');
    var GOOG_FIXURL_LANG = 'en';
    var GOOG_FIXURL_SITE = 'http://henrik.nyh.se/';
  %script{ :type => "text/javascript", :src => "http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js" }
