---
layout: default
---
#post
  %header
    =header page.title
    %p.subtitle
      Written
      %time= page.date.strftime("%B %-d, %Y at %H:%M %Z") + '.'
      Tagged
      = tag_links(page.tags) + "."

  -# Without the squiggly, Haml will indent highlighted code.
  ~ content

  #older_and_newer
    - if page.next
      %p
        %strong Newer:
        =post_link(page.next)
    - if page.previous
      %p
        %strong Older:
        =post_link(page.previous)

  #disqus_thread
  :javascript
    var disqus_developer = location.host.match(/\.dev$|^localhost/) ? 1 : 0;
  %script{ :type => "text/javascript", :src => "http://disqus.com/forums/pug/embed.js" }
  %noscript <a href="http://pug.disqus.com/?url=ref">View the discussion thread.</a>
